.hidden {
    display: none;
}
.bg-img{
    padding: auto;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: 2;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    opacity: 0.8;
}
body{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin: 0px;
    background: black;

}
body::-webkit-scrollbar, .bg-img::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.my-moment{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.btn-login{
    padding: 10px;
    border: 2px solid #c6ccd2;    
}
.btn-login:hover{
    color: #1f3a63;
    border: 2px solid #A6BFDD; 
}
.login-input{
    height: 40px;
    font-size:3vw;
}
.my-clock {
    text-align: center;
    font-size: 10vw;
    margin-bottom: 0px;
    margin-top: 20vh;
    opacity: 0.8;
}
.login-form .todo-form{
    display: flex;
    justify-content: center;
    margin-top : 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.todo-list{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    background: transparent;
    list-style:none;
    font-size: 2vw;
    height: 400px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0px;
}
.todo-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.todo-li{
    display: flex;
    margin-bottom: 10px;
    color: white;
}
/* .todo-li-span
{
    border-bottom: 1px solid white;
} */
.todo-li:hover{
    background-color: #c6ccd2;
    color: #4181e0;
    opacity: 0.8;
    font-weight: bold;
}
.login-input{
    width:30vw;
}
.todo-input{
    width:50vw;
}
.todo-input, .login-input{
    height: 40px;
    background: transparent;
    color:white;
    font-size: 3vw;
    border : 0px;
    border-bottom: 1px solid white;
}
input::placeholder {
    color: white;
    font-weight: bold;
}
input:focus {
    border : 0px;
    background-color: transparent;
    outline : none;
    border-bottom: 1px solid white;
}
.greeting {
    color: white;
    font-size: 4vw;
    margin-top: 0px;
}
.ic-delete{
    padding: 5px 15px;
    background: transparent;
    color: white;
    margin-right : 10px;
    font-weight: bold;
    font-size: 2vw;
    border-color: wheat;
}
.ic-delete:hover{
    border-color: brown;
    color: deeppink;
}
.log-out{
    position: absolute;
    right : 20px;
    bottom : 20px;
    background-color: #A6BFDD;
}
.log-out:hover{
    background-color: #4181e0;
    color: white;
}
.weather {
    position: absolute;   
    left : 20px;
    top : 20px;
    color: white
}
